.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 88px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  box-sizing: border-box;
  z-index: 10;
}
/* 메뉴 버튼 (채팅화면용) */
.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #2c3e50;
  margin-right: 12px;
}

/* Pyxis 로고 (메인화면용) */
.header-logo {
  width: 50px;
  height: 50px;
  background-color: #edf2f7; /* 회색 로고 후면  */
  background-image: url('../assets/pyxis_logo.png');
  background-size : 80%;
  background-repeat : no-repeat ;
  background-position : center center;
  border-radius: 8px;
  margin-right: 12px;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
  color: #2d3748;
}

.logout-button {
  width: 80px;
  height: 36px;
  background-color: #fff;
  color: #2d3748;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto; /* 오른쪽 정렬 */
  font-weight: bold;
}

.logout-button:hover {
  background-color: #2b6cb0;
  color: #fff;
}