.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 88px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  box-sizing: border-box;
  z-index: 10;
}

/* 메뉴 버튼 (채팅화면용) */
.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #2c3e50;
  margin-right: 12px;
}

/* Pyxis 로고 (메인화면용) */
.header-logo {
  width: 50px;
  height: 50px;
  background-color: #ccc; /* 회색 로고 후면  */
  background-image: url('../assets/pyxis_logo.png');
  background-size : 80%;
  background-repeat : no-repeat ;
  background-position : center center;
  border-radius: 8px;
  margin-right: 12px;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
  color: #2d3748;
}

.main-container {
  width: 100%;
  height: 100vh;
  background-color: #f8fbff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  flex: 1;
  width: 100%;
  max-width: 600px;
  padding: 100px 20px 100px; /* 상단·하단 고정영역 여백 */
  box-sizing: border-box;
  overflow-y: auto;
}

