.main-container {
  width: 100%;
  height: 100vh;
  background-color: #edf2f7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  flex: 1;
  width: 100%;
  max-width: 600px;
  padding: 100px 20px 100px; /* 상단·하단 고정영역 여백 */
  box-sizing: border-box;
  overflow-y: auto;
}

