@import "./styles/markdown.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply bg-background text-slate-800 font-sans antialiased;
    background-image: radial-gradient(at 0% 0%, rgba(59, 130, 246, 0.1) 0px, transparent 50%),
      radial-gradient(at 100% 0%, rgba(96, 165, 250, 0.1) 0px, transparent 50%);
    background-attachment: fixed;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-400;
}